# Dependencias
node_modules/

# Build de Metro y React Native
.expo/
dist/
ios/Pods/
android/.gradle/
android/app/build/

# Bases de datos locales SQLite (para no subir datos de prueba)
*.sqlite
*.sqlite-journal

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
*.log

# Carpeta unica de temp-ios no subirse asegurarse de eliminarla o si falta sacar archivos importntes y migrar hacia la carpeta ios/ de la raiz 
temp-ios/